# Binaries for programs and plugins
*.exe
*.exe-
*.dll
*.so
*.dylib

# Test binary, generated with `go test -c`
*.test

# Output of the go coverage tool, specifically when multiple out files out merged
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
